<!DOCTYPE html>
<html>
    <head>
        <title>Eva Wearable</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar fixed-top navbar-light">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Eva</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul>
                    <li><a href="">Login</a></li>
                    <li><a href="">Sign Up</a></li>
                    <li><a href="">Signed in as</a></li>
                    <li><a href="">Logout</a></li>
                </ul>
            </div>
        </nav>